<div class="card bg-base-300 w-96 shadow-xl m-auto my-10">
    <figure class="h-80">
        <img [src]="userData()['photoUrl']" alt="No Image" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">{{userData()['firstName'] +' '+ userData()['lastName']}}</h2>
        <p>Gender: {{userData()['gender']}}</p>
        <p>Age: {{userData()['age']}}</p>
        <p>About: {{userData()['about']}}</p>
        <div class="card-actions justify-end">
            <button class="btn btn-secondary" (click)="feedAction('ignored', userData()._id)">Ignore</button>
            <button class="btn btn-primary" (click)="feedAction('interested', userData()._id)">Interested</button>
        </div>
    </div>
</div>